{% extends 'base_userlist.html' %}
{% block content %}

<div class="container">
  <h2 class="mb-3">Geräteliste iPad-Koffer {{ room }}</h2>
 
  <form action="{% url 'deviceEntryNew' room date std %}">
    <button type="submit" class="btn btn-primary"><strong>+</strong> neuer Eintrag</button>
  </form>

    {% for iPad in iPads %}
    {% if iPad.dbname in iPads_with_entry %}
      <h5 class="mt-4">Schaden- und Problemliste für <strong>{{ iPad.name }}</strong></h5>
      <div class="row mb-4">
          <div class="col">
            <table class="table table-striped">
                <thead>
                  <tr>
                    <th scope="col">Datum</th>
                    <th scope="col">Stunde</th>
                    <th scope="col">Beschreibung</th>
                    <th scope="col">Krzl.</th>
                    <th scope="col">Behoben durch</th>
                  </tr>
                </thead>
                <tbody>
                {% for device in devicelist %}
                  {% if device.device == iPad.dbname %}
                  <form action="{% url 'deviceEntry' device.id room date std %}">
                    <tr>
                        <td>{{ device.datum }}</td>
                        <td>{{ device.stunde }}</td>
                        <td>{{ device.beschreibung }}</td>
                        <td>{{ device.krzl }}</td>
                        <td>{{ device.behoben }}</td>
                        <td><div class="text-end"><button type="submit" class="btn btn-secondary btn-sm">Ändern</button></div></td>
                    </tr>
                  </form>
                  {% endif %}
                {% endfor %}
                </tbody>
            </table>  
          </div>
      </div>
    {% endif %}
    {% endfor %}
</div>

{% endblock content %}