{% extends 'base.html' %}
{% block content %}

<div class="container">
  <h2 class="mb-3">Übersicht Problem- und Schadenliste</h2>
  


  
  {% for room in rooms %}
    <!-- <h3 class="mb-3">Raum/Koffer: {{ room }}</h2> -->
    {% for device in devices %}
      {% if device in iPads_with_entry %}
        <!-- <h5 class="mt-4">Schaden- und Problemliste für <strong>{{ device }}</strong></h5> -->
        <div class="row mb-4">
          <div class="col">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th scope="col">Raum/Koffer</th>
                  <th scope="col">Gerät</th>
                  <th scope="col">Datum</th>
                  <th scope="col">Stunde</th>
                  <th scope="col">Beschreibung</th>
                  <th scope="col">Krzl.</th>
                  <th scope="col">Status</th>
                  <th scope="col">Bearbeitet durch</th>
                </tr>
              </thead>
              <tbody>
              {% for devicelist_entry in devicelist %}
                {% if devicelist_entry.device == device %}
                  <form action="{% url 'deviceEntry' devicelist_entry.id room devicelist_entry.datum devicelist_entry.stunde devicelist_entry.id %}">
                    <tr>
                      <td>{{ room }}</td>
                      <td>{{ device }}</td>
                      <td>{{ devicelist_entry.datum }}</td>
                      <td>{{ devicelist_entry.stunde }}</td>
                      <td>{{ devicelist_entry.beschreibung }}</td>
                      <td>{{ devicelist_entry.krzl }}</td>
                      <td class="{{ devicelist_entry.status.color }}">{{ devicelist_entry.status }}</td>
                      <td>{{ devicelist_entry.behoben }}</td>
                      <td>
                        <div class="text-end">
                          <span style="white-space: nowrap;">
                            <button type="submit" class="btn btn-secondary btn-sm">Ändern</button>
                            <a href="{% url 'deviceusers' room devicelist_entry.datum devicelist_entry.device.dbname %}" class="btn btn-secondary btn-sm">letzte Benutzer</a>
                          </span>
                        </div>
                      </td>
                    </tr>
                  </form>
                {% endif %}
              {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      {% endif %}
    {% endfor %}
  {% endfor %}
</div>

{% endblock content %}
