{% extends 'base.html' %}
{% block content %}

<div class="container">
  <h2 class="mb-3">Übersicht Problem- und Schadenliste</h2>
  

<h5>Filter:</h5>
<form>
  <select name="filter" class="form-select" id="filter" onchange="this.form.submit()">
  {% for option in options %}
    {% if option == filter %}
      <option value="{{ option }}" selected>{{ option }}</option>
    {% else %}
      <option value="{{ option }}">{{ option }}</option>
    {% endif %}
  {% endfor %}
  </select>
</form>

        <div class="row mb-4">
          <div class="col">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th scope="col">Raum/Koffer</th>
                  <th scope="col">Gerät</th>
                  <th scope="col">Datum</th>
                  <th scope="col">Stunde</th>
                  <th scope="col">Beschreibung</th>
                  <th scope="col">Krzl.</th>
                  <th scope="col">Status</th>
                  <th scope="col">Bearbeitet durch</th>
                </tr>
              </thead>
              <tbody>
              {% for room in rooms %}
                {% for device in devices %}
                  {% if device in iPads_with_entry %}
                    {% for devicelist_entry in devicelist %}
                      {% if devicelist_entry.device == device %}
                        <form action="{% url 'deviceEntry' devicelist_entry.id room devicelist_entry.datum devicelist_entry.stunde devicelist_entry.id %}">
                          <tr>
                            <td>{{ room }}</td>
                            <td>{{ device }}</td>
                            <td>{{ devicelist_entry.datum }}</td>
                            <td>{{ devicelist_entry.stunde }}</td>
                            <td>{{ devicelist_entry.beschreibung }}</td>
                            <td>{{ devicelist_entry.krzl }}</td>
                            <td class="{{ devicelist_entry.status.color }}">{{ devicelist_entry.status }}</td>
                            <td>{{ devicelist_entry.behoben }}</td>
                            <td>
                              <div class="text-end">
                                <span style="white-space: nowrap;">
                                  <button type="submit" class="btn btn-secondary btn-sm">Ändern</button>
                                  <a href="{% url 'deviceusers' room devicelist_entry.datum devicelist_entry.device.dbname %}" class="btn btn-secondary btn-sm">letzte Benutzer</a>
                                </span>
                              </div>
                            </td>
                          </tr>
                        </form>
                      {% endif %}
                    {% endfor %}
                  {% endif %}
                {% endfor %}
              {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
</div>

{% endblock content %}
