{% extends 'base_userlist.html' %}
{% block content %}

<div class="container">
    <h2 class="mb-3">Eintrag für Schaden- und Problemliste bearbeiten</h2>

    <div class="row mb-4">
        <div class="col">
        <form method="POST">
        {% csrf_token %}
          <div class="row">
            <div class="col">
              <label class="mt-3" for="Koffer" class="form-label">Koffer:</label>
              {{ devicelist.room }}
            </div>
            <div class="col">
              <label class="mt-3" for="Datum" class="form-label">Datum:</label>
              {{ devicelist.datum }}
            </div>
            <div class="col">
              <label class="mt-3" for="Stunde" class="form-label">Stunde:</label>
              {{ devicelist.stunde }}
            </div>
            <div class="col">
              <label class="mt-3" for="Gerät" class="form-label">Gerät:</label>
              {{ devicelist.device }}
            </div>
            <div class="col">
              <label class="mt-3" for="Krzl" class="form-label">Krzl:</label>
              {{ devicelist.krzl }}
            </div>
            <div class="col">
              <label class="mt-3" for="Behoben" class="form-label">Behoben durch:</label>
              {% if user.is_authenticated %}
                {{ devicelist.behoben }}
              {% else %}
                <input type="text" class="form-control" name="krzl" value="{{ devicelist.instance.behoben }}" readonly>
              {% endif %}
              </div>
          </div>
          <label class="mt-3" for="Beschreibung" class="form-label">Beschreibung:</label>
          {{ devicelist.beschreibung }}
          <button type="submit" name="save" value="save" class="btn btn-primary mt-5">Speichern</button>
          {% if nodelete %}
          {% else %}
            <button type="submit" name="delete" value="delete" class="btn btn-danger mt-5">Löschen</button>
          {% endif %}
          <a href="{% url 'devicelist' room date std %}" class="btn btn-secondary mt-5">Abbrechen</a>
        </form>
      </div>
    </div>
</div>

{% endblock content %}