{% extends 'base.html' %}
{% block content %}

<div class="container">
  <h2 class="mb-3">Geräteliste iPad-Koffer {{ room }}</h2>

  <form action="{% url 'deviceEntryNew' room date std entry_id %}">
    <button type="submit" class="btn btn-primary"><strong>+</strong> neuer Eintrag</button>
  </form>

  {% for device in devices %}
    {% if device in iPads_with_entry %}
      <h5 class="mt-4">Schaden- und Problemliste für <strong>{{ device }}</strong></h5>
      <div class="row mb-4">
        <div class="col">
          <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">Datum</th>
                <th scope="col">Stunde</th>
                <th scope="col">Beschreibung</th>
                <th scope="col">Krzl.</th>
                <th scope="col">Status</th>
                <th scope="col">Behoben durch</th>
              </tr>
            </thead>
            <tbody>
            {% for devicelist_entry in devicelist %}
              {% if devicelist_entry.device == device %}
                <form action="{% url 'deviceEntry' devicelist_entry.id room date std entry_id %}">
                  <tr>
                    <td>{{ devicelist_entry.datum }}</td>
                    <td>{{ devicelist_entry.stunde }}</td>
                    <td>{{ devicelist_entry.beschreibung }}</td>
                    <td>{{ devicelist_entry.krzl }}</td>
                    <td class="{{ devicelist_entry.status.color }}">{{ devicelist_entry.status }}</td>
                    <td>{{ devicelist_entry.behoben }}</td>
                    <td><div class="text-end"><button type="submit" class="btn btn-secondary btn-sm">Ändern</button></div></td>
                  </tr>
                </form>
              {% endif %}
            {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    {% endif %}
  {% endfor %}
</div>

{% endblock content %}
