<!-- <head>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
    crossorigin="anonymous"></script>
</head> -->
<style>
  .custom-width {
    width: 152px !important;
  }
</style>

{% extends 'base.html' %}
{% block content %}

<div class="container">
  {% if buttontext == "" %}
  <h2>Eintrag hinzufügen</h2>
  {% else %}
  <h2>Eintrag ändern:</strong></h2>
  {% endif %}
  <h5 class="mt-3"><strong>Datum: </strong>{{ date }}, {{ std }}. Stunde</h5>
  <h5 class="mt-3"><strong>Raum/Gerät:</strong> {{room_text}}</h5>
  <form method="POST">
    {% csrf_token %}
    <div class="mb-3">
      <label class="mt-3" for="saveKrzl" class="form-label">Kürzel:</label>
      {% if buttontext == "" or warning_empty %}
      <input type="text" class="form-control mt-2" name="krzl" value="{{ krzl }}" />
      {% else %}
      <input type="text" class="form-control mt-2" name="krzl" value="{{ krzl }}" readonly>
      {% endif %}
      <label class="mt-3" for="saveLerngruppe" class="form-label">Buchen für Lerngruppe/Veranstaltung:</label>
      <input type="text" class="form-control mt-2" name="lerngruppe" value="{{ buttontext }}" />
      <input type="hidden" name="date" value="{{ isodate }}" />
      <!-- <input type="hidden" name="buttondate" value="{{ date }}" /> -->
      <!-- <input type="hidden" name="std" value="{{ std }}" /> -->
      <!-- <input type="hidden" name="room" value="{{ room }}" /> -->
      <!-- <input type="hidden" name="room_text" value="{{ room_text }}" /> -->
      <br>

      {% if buttontext != "" and not alert and not warning_empty%}
      {% elif warning_empty and update %}
      {% else %}
      <div class="accordion mb-5" id="accordionSerie">
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingOne">
            {% if alert %}
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
              aria-expanded="true" aria-controls="collapseOne">
              {% else %}
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                Serientermin buchen?
              </button>
              {% endif %}
          </h2>

          {% if alert %}
          <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
            data-bs-parent="#accordionSerie">
            {% else %}
            <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne"
              data-bs-parent="#accordionSerie">
              {% endif %}
              <div class="accordion-body">
                <div class="row align-items-center">
                  <div class="col-auto">
                    <label for="date"> Termin bis zu folgendem Datum <strong>wöchentlich wiederholen:</strong> </label>
                  </div>
                  <div class="col-2 pe-0">
                    <select name="selection" class="form-select custom-width" aria-label="Default select example">
                      {% for date in date_series %}
                      <option value="{{date.item}}">{{date.date}}</option>
                      {% endfor %}
                    </select>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      {% endif %}

      {% if alert %}
      <div class="alert alert-danger" role="alert">
        Das geht leider nicht. Folgende Termine sind bereits besetzt:
        {{ blocked_dates }} <br>
        Du kannst den ersten Termin buchen oder die Serie anpassen.
      </div>
      {% endif %}

      {% if warning_empty %}
      <div class="alert alert-danger" role="alert">
        Die Felder "Kürzel" und "Lerngruppe" müssen gefüllt sein.
      </div>
      {% endif %}

      {% if buttontext == "" and not warning_empty %}
      <button type="submit" name="save" value="save" class="btn btn-primary">Speichern</button>
      {% elif alert or warning_empty and not update %}
      <button type="submit" name="save" value="save" class="btn btn-primary">Speichern</button>
      {% else %}
      <button type="submit" name="update" value="update" class="btn btn-warning">Eintrag ändern</button>
      <button type="submit" class="btn btn-danger" name="delete" value="delete">Eintrag löschen</button>
      {% endif %}
      <button type="submit" class="btn btn-secondary" value="cancel" name="cancel">Abbrechen</button>
    </div>
  </form>

  {% if state == None %}
  {% else %}
  <form method="POST">
    {% csrf_token %}
    <div class="alert alert-info mt-5">
      <h5>Digitaler Eintrag in die Nutzerliste</h5> 
      Die Schüler*innen tragen sich auf dem iPad mit der App "Nutzerliste" ein. Lehrer*innen schalten diese Liste 
      vorher frei. Die Schüler*innen wählen den richtigen Koffer/Unterricht aus (nur falls mehrere parallele Freischaltungen offen sind) und tragen 
      sich mit den Vornamen (ggf. erster Buchstabe des Nachnamens) ein. In der unten stehenden Liste sieht man (evtl. "Neu laden") die Eintragungen 
      und kann ggf. selbst bei einzelnen Einträgen nachtragen und Speichern.
    </div>
    <div class="col">
      <a name="userlist">Eintrag in die Nutzerliste für Schüler*innen freischalten (20 min):</a>
      <div class="btn-group" role="group" aria-label="Freischalten">
        {% if state == "on" %}
        <button type="submit" name="freischalten" value="off" class="btn btn-outline-primary">OFF</button>
        <button type="button" name="freischalten" value="on" class="btn btn-primary"
          style="background-color: #fd0d0d; border-color: #fd0d0d">ON</button>
        {% else %}
        <button type="button" name="freischalten" value="off" class="btn btn-primary">OFF</button>
        <button type="submit" name="freischalten" value="on" class="btn btn-outline-primary">ON</button>
        {% endif %}
      </div>
      <i class="bi bi-info-circle" data-bs-toggle="popover" data-bs-placement="right"
        title="Nutzerliste freischalten"
        data-bs-content="Die Freischaltung wird nach 20 Minuten wieder zurückgesetzt. Für die Schüler*innen ist der Eintrag nur am Tag der Buchung zu sehen. Der Eintrag sollte idealerweise nur während der Stunde frei- und wieder ausgeschaltet werden."></i>
    </div>
    <div class="accordion mt-2 mb-5" id="accordionUser">
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingOne">
          {% if accordion == "open" %}
          <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
            aria-expanded="true" aria-controls="collapseOne">
            {% else %}
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
              data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
              {% endif %}
              Nutzerliste anzeigen
            </button>
        </h2>

        {% if accordion == "open" %}
        <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
          data-bs-parent="#accordionSerie">
          {% else %}
          <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne"
            data-bs-parent="#accordionSerie">
            {% endif %}
            <div class="accordion-body">
              <div class="row mb-4">
                <div class="col-auto text-end">
                  <button type="submit" name="reload" value="reload" class="btn btn-success"><i
                      class="bi bi-arrow-clockwise"> </i>Neu Laden</button>
                  <i class="bi bi-info-circle" data-bs-toggle="popover" data-bs-placement="bottom" title="Neu laden"
                    data-bs-content="Neu laden, um aktuelle Einträge der Schüler*innen zu sehen."></i>
                </div>
                <script>
                  var popoverTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="popover"]'))
                  var popoverList = popoverTriggerList.map(function (popoverTriggerEl) {
                    return new bootstrap.Popover(popoverTriggerEl)
                  })
                </script>
              </div>
              
              <div class="row">
              <div class="col">

              <div class="row align-items-center mt-2">
                <div class="col-auto mb-3 pe-0">
                  <label for="iPad_01"><strong><small>iPad 01: </small></strong></label>
                </div>
                <div class="col-2 pe-0">
                  {{ userlist.pen_01 }} <small><small>Stift</small></small>
                </div>
                <div class="col">
                  {{ userlist.iPad_01 }}
                  <small><small>Schüler*innen (Vornamen)</small></small>
                </div>
              </div>
              

              <div class="row align-items-center mt-2">
                <div class="col-auto mb-3 pe-0">
                  <label for="iPad_02"><strong><small>iPad 02: </small></strong></label>
                </div>
                <div class="col-2 pe-0">
                  {{ userlist.pen_02 }} <small><small>Stift</small></small>
                </div>
                <div class="col">
                  {{ userlist.iPad_02 }}
                  <small><small>Schüler*innen (Vornamen)</small></small>
                </div>
              </div>

              <div class="row align-items-center mt-2">
                <div class="col-auto mb-3 pe-0">
                  <label for="iPad_03"><strong><small>iPad 03: </small></strong></label>
                </div>
                <div class="col-2 pe-0">
                  {{ userlist.pen_03 }} <small><small>Stift</small></small>
                </div>
                <div class="col">
                  {{ userlist.iPad_03 }}
                  <small><small>Schüler*innen (Vornamen)</small></small>
                </div>
              </div>

              <div class="row align-items-center mt-2">
                <div class="col-auto mb-3 pe-0">
                  <label for="iPad_04"><strong><small>iPad 04: </small></strong></label>
                </div>
                <div class="col-2 pe-0">
                  {{ userlist.pen_04 }} <small><small>Stift</small></small>
                </div>
                <div class="col">
                  {{ userlist.iPad_04 }}
                  <small><small>Schüler*innen (Vornamen)</small></small>
                </div>
              </div>

              <div class="row align-items-center mt-2">
                <div class="col-auto mb-3 pe-0">
                  <label for="iPad_05"><strong><small>iPad 05: </small></strong></label>
                </div>
                <div class="col-2 pe-0">
                  {{ userlist.pen_05 }} <small><small>Stift</small></small>
                </div>
                <div class="col">
                  {{ userlist.iPad_05 }}
                  <small><small>Schüler*innen (Vornamen)</small></small>
                </div>
              </div>

              <div class="row align-items-center mt-2">
                <div class="col-auto mb-3 pe-0">
                  <label for="iPad_06"><strong><small>iPad 06: </small></strong></label>
                </div>
                <div class="col-2 pe-0">
                  {{ userlist.pen_06 }} <small><small>Stift</small></small>
                </div>
                <div class="col">
                  {{ userlist.iPad_06 }}
                  <small><small>Schüler*innen (Vornamen)</small></small>
                </div>
              </div>

              <div class="row align-items-center mt-2">
                <div class="col-auto mb-3 pe-0">
                  <label for="iPad_07"><strong><small>iPad 07: </small></strong></label>
                </div>
                <div class="col-2 pe-0">
                  {{ userlist.pen_07 }} <small><small>Stift</small></small>
                </div>
                <div class="col">
                  {{ userlist.iPad_07 }}
                  <small><small>Schüler*innen (Vornamen)</small></small>
                </div>
              </div>

              <div class="row align-items-center mt-2">
                <div class="col-auto mb-3 pe-0">
                  <label for="iPad_08"><strong><small>iPad 08: </small></strong></label>
                </div>
                <div class="col-2 pe-0">
                  {{ userlist.pen_08 }} <small><small>Stift</small></small>
                </div>
                <div class="col">
                  {{ userlist.iPad_08 }}
                  <small><small>Schüler*innen (Vornamen)</small></small>
                </div>
              </div>

            </div>             
            <div class="col">

              <div class="row align-items-center mt-2">
                <div class="col-auto mb-3 pe-0">
                  <label for="iPad_09"><strong><small>iPad 09: </small></strong></label>
                </div>
                <div class="col-2 pe-0">
                  {{ userlist.pen_09 }} <small><small>Stift</small></small>
                </div>
                <div class="col">
                  {{ userlist.iPad_09 }}
                  <small><small>Schüler*innen (Vornamen)</small></small>
                </div>
              </div>

              <div class="row align-items-center mt-2">
                <div class="col-auto mb-3 pe-0">
                  <label for="iPad_10"><strong><small>iPad 10: </small></strong></label>
                </div>
                <div class="col-2 pe-0">
                  {{ userlist.pen_10 }} <small><small>Stift</small></small>
                </div>
                <div class="col">
                  {{ userlist.iPad_10 }}
                  <small><small>Schüler*innen (Vornamen)</small></small>
                </div>
              </div>

              <div class="row align-items-center mt-2">
                <div class="col-auto mb-3 pe-0">
                  <label for="iPad_11"><strong><small>iPad 11: </small></strong></label>
                </div>
                <div class="col-2 pe-0">
                  {{ userlist.pen_11 }} <small><small>Stift</small></small>
                </div>
                <div class="col">
                  {{ userlist.iPad_11 }}
                  <small><small>Schüler*innen (Vornamen)</small></small>
                </div>
              </div>

              <div class="row align-items-center mt-2">
                <div class="col-auto mb-3 pe-0">
                  <label for="iPad_12"><strong><small>iPad 12: </small></strong></label>
                </div>
                <div class="col-2 pe-0">
                  {{ userlist.pen_12 }} <small><small>Stift</small></small>
                </div>
                <div class="col">
                  {{ userlist.iPad_12 }}
                  <small><small>Schüler*innen (Vornamen)</small></small>
                </div>
              </div>

              <div class="row align-items-center mt-2">
                <div class="col-auto mb-3 pe-0">
                  <label for="iPad_13"><strong><small>iPad 13: </small></strong></label>
                </div>
                <div class="col-2 pe-0">
                  {{ userlist.pen_13 }} <small><small>Stift</small></small>
                </div>
                <div class="col">
                  {{ userlist.iPad_13 }}
                  <small><small>Schüler*innen (Vornamen)</small></small>
                </div>
              </div>

              <div class="row align-items-center mt-2">
                <div class="col-auto mb-3 pe-0">
                  <label for="iPad_14"><strong><small>iPad 14: </small></strong></label>
                </div>
                <div class="col-2 pe-0">
                  {{ userlist.pen_14 }} <small><small>Stift</small></small>
                </div>
                <div class="col">
                  {{ userlist.iPad_14 }}
                  <small><small>Schüler*innen (Vornamen)</small></small>
                </div>
              </div>

              <div class="row align-items-center mt-2">
                <div class="col-auto mb-3 pe-0">
                  <label for="iPad_15"><strong><small>iPad 15: </small></strong></label>
                </div>
                <div class="col-2 pe-0">
                  {{ userlist.pen_15 }} <small><small>Stift</small></small>
                </div>
                <div class="col">
                  {{ userlist.iPad_15 }}
                  <small><small>Schüler*innen (Vornamen)</small></small>
                </div>
              </div>

              <div class="row align-items-center mt-2">
                <div class="col-auto mb-3 pe-0">
                  <label for="iPad_16"><strong><small>iPad 16: </small></strong></label>
                </div>
                <div class="col-2 pe-0">
                  {{ userlist.pen_16 }} <small><small>Stift</small></small>
                </div>
                <div class="col">
                  {{ userlist.iPad_16 }}
                  <small><small>Schüler*innen (Vornamen)</small></small>
                </div>
              </div>

            </div>
            </div>

              <div class="row align-items-center mt-2">
                <div class="col">
                  <button type="submit" class="btn btn-primary" name="submit_student" value="submit_student">Speichern</button>
                </div>
              </div>  

            </div>
          </div>
        </div>
      </div>
    </div>
    {% endif %}
  </form>
</div>

{% endblock content %}