{% extends 'base.html' %}  
{% block content %}

<div class="container">
  <h2>Eintrag löschen für {{ buttondate }}, {{ std }}. Stunde</h2>
  <form action="{% url 'buchungstoolEntry' room id %}" method="POST">
    {% csrf_token %}
    <div class="mt-3 mb-3">  
      <p>Buchung für Lerngruppe <strong>{{ lerngruppe }}</strong> wirklich löschen?</p>
      <p>Du solltest diesen Eintrag <strong>nur</strong> löschen, wenn du <strong>{{ krzl }}</strong> bist!</p>
      <input type="hidden" name="id" value="{{ id }}">
      <button type="submit" class="btn btn-danger" name="deleteconfirmed" value="deleteconfirmed">Eintrag löschen</button>
      <button type="submit" class="btn btn-secondary">Abbrechen</button>
    </div>
  </form>
</div>

{% endblock content %}